.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-insets: 2, 2, 2;
    -fx-padding: 3;
    -fx-background-radius: 5;
}

.menu-bar, .tab-header-area .tab-header-background {
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 1px;
}

.supreme-area {
    -fx-min-height: 1000;
}

.searcher-box {
    -fx-border-radius: 5;
    -fx-padding: 5;
    -fx-border-color: gray;
    -fx-border-width: 2;
}

.searcher-header, .searcher-header .text-field, .searcher-item, .searcher-body {
    -fx-min-width: 400;
    -fx-pref-width: 400;
    -fx-max-width: 400;
}

.searcher-item {
    -fx-pref-height: 15;
    -fx-padding: 10;
}

.searcher-item:hover {
}

.searcher-body {
    -fx-max-height: 150;
    -fx-hbar-policy: never;
    -fx-padding: 5;
}

.searcher-header .radio-button {
    -fx-padding: 5;
}

.representation-flow {
    -fx-pref-width: 350;
    -fx-font-weight: bold;
}

.representation-pane {
    -fx-pref-width: 350;
}

.representation-filter {
    -fx-fill: orange;
}